$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

// .browsehappy {
//     margin: 0.2em 0;
//     background: #ccc;
//     color: #000;
//     padding: 0.2em 0;
// }

// /* Space out content a bit */
// body {
//     padding-top: 20px;
//     padding-bottom: 20px;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//     padding-left: 15px;
//     padding-right: 15px;
// }

// /* Custom page header */
// .header {
//     border-bottom: 1px solid #e5e5e5;

//     /* Make the masthead heading the same height as the navigation */
//     h3 {
//         margin-top: 0;
//         margin-bottom: 0;
//         line-height: 40px;
//         padding-bottom: 19px;
//     }
// }

// /* Custom page footer */
// .footer {
//     padding-top: 19px;
//     color: #777;
//     border-top: 1px solid #e5e5e5;
// }

// .container-narrow > hr {
//     margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
//     .btn {
//         font-size: 21px;
//         padding: 14px 24px;
//     }
// }

// /* Supporting marketing content */
// .marketing {
//     margin: 40px 0;
//     p + h4 {
//         margin-top: 28px;
//     }
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }

//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }

// form {
//     width:900px;
//     height:200px;
//     margin-left: 630px;
// }

// h1  img {
//     margin-left: 430px;
//     width: 575px;
//     height: 150px;
// }

// label {
//     font-family: 'Special Elite', cursive;
//     font-size: 20px;
// }



//My stylesheets

.contain{
	width: 80%;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 70px;

}

.header img{
		padding: 0 0 10px 50px;

}

.header p{
	padding: 10px 0 0 0;
}


.intro{
	width: 100%;
	min-height: 460px;
	background-color: #f1f1f1;
}



.mView h2{
	padding: 30px 0 10px 50px;
	font-family: 'Helvetica';
	text-transform: uppercase;
	font-size: 22px;
}

.mView img{
	margin: 30px 0 20px 50px;
}

form#rantsubmit{
	margin: 45px 0 0 30px;
}

form#rantsubmit label{
		padding: 0 0 30px 0;
	font-family: 'Helvetica';
	text-transform: uppercase;
	font-size: 22px;
}

form#rantsubmit button.submit{
	margin: 20px 0 0 0;
}


.rants{
	width: 100%;
	min-height: 500px;
	background-color: #333333;
	padding: 0 0 30px 0;
}

.rants h1{
	padding: 50px 0 50px 0;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}


.rant{
	width: 250px;
	min-height: 250px;
	background-color: tomato;
	display: inline-block;
	margin: 10px;

}

.rant h2{
	padding: 0 0 0 20px;
	color: white;
}

.rant p{
	padding: 20px;
	color: white;
}


footer{
	width: 100%;
	height: 45px;
	background-color: #cac9c9;
}

footer p{
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 14px 0 0 0;
	letter-spacing: 1px;
}